<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= userProfile.username %>'s Profile</title>
</head>
<body>
    <h1><%= userProfile.username %>'s Profile</h1>
    <div>
        <img src="<%= userProfile.profilePicture || '/path/to/default/profilePicture.png' %>" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
    </div>
    <p>Email: <%= userProfile.email %></p> <!-- Consider privacy before displaying email -->
    <p>Bio: <%= userProfile.bio %></p>

    


    <script src="/profile.js"></script>
</body>
</html>