<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= userProfile.username %>'s Profile</title>
</head>
<body>
    <h1><%= userProfile.username %>'s Profile</h1>
    <div>
        <img src="<%= userProfile.profilePicture || '/path/to/default/profilePicture.png' %>" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
    </div>
    <p>Email: <%= userProfile.email %></p> <!-- Consider privacy before displaying email -->
    <p>Bio: <%= userProfile.bio %></p>

    <div>
        <h2><span id="followerCount"><%= followers.length %></span></h2>
    </div>
    
    <div>
        <h2><span id="followingCount"><%= following.length %></span></h2>
    </div>
    

    <div>
        <h2>Pinned Repositories</h2>
        <ul>
            <% pinnedRepositories.forEach(repo => { %>
                <li><%= repo.name %>: <%= repo.description %></li>
            <% }); %>
        </ul>
    </div>

    <% if (canFollow) { %>
        <button data-user-id="<%= userProfile._id %>" onclick="followUser('<%= userProfile._id %>')">Follow</button>
    <% } else { %>
        <button data-user-id="<%= userProfile._id %>" onclick="unfollowUser('<%= userProfile._id %>')">Unfollow</button>
    <% } %>
    
    

    <script src="/profile.js"></script>
</body>
</html>
